.pause-icon {
  padding: 10px;
  width: 50px;

  //TODO: hover state
}

.play-icon {
  padding: 5px;
}

.paused-modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem 4rem;

  h3 {
    text-align: center;
  }

  .play-btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    strong {
      font-size: 1.2rem;
    }

    svg {
      aspect-ratio: 1/1;
      height: 2rem;
    }
  }
}
