.heading-wrapper {
  background-color: black;
  width: fit-content;
  position: relative;

  .heading {
    color: white;
    position: relative;
    width: fit-content;
    padding: 0 1rem;
  }

  h4 {
    font-size: 22px;
  }
}
