@import "../../../utils/mixins.scss";

.minigame-container {
   display: grid;
   position: relative;
   grid-template-columns: repeat(3, 1fr);
   grid-template-rows: repeat(3, 1fr);
   padding: 5%;

   &.has-tie,
   &.invalid-move {
      @include grey-overlay;
   }

   &:has(.big-token) {
      padding: 0;
      align-items: center;
      justify-content: center;
   }
}

.big-token {
   grid-column: 1/4;
   grid-row: 1/4;
   display: flex;
   align-items: center;
   justify-content: center;
   aspect-ratio: 1/1;
   padding: 5%;
   
   .X, .O {
      height: 90%;
   }
}