* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  background-color: white;
  display: grid;
  grid-template-areas:
    "top-section"
    "game";
  grid-template-rows: min-content min-content;
  justify-content: center;
  grid-row-gap: 3%;
  width: 100vw;
  height: 100vh;
}

.top-section-wrapper {
  grid-area: top-section;
  display: flex;
}

.side-buttons {
  position: fixed;
  top: 10px;
  right: 10px;
}
