.next-player-wrapper {
    p {
        width: 100%;
        text-align: center;
        margin-bottom: 1rem;
    }

    .next-player-token {
        border: 1px solid;
        padding: 1.5rem;

        .X, .O {
            max-width: 100px;
            max-height: 100px;
        }
    }
}